header {
    background-color: #ededed;
    padding: 20px 40px;
}

.dash-content {
    background-color: #ffffff;
    display: flex;
    position: absolute;
    top: 76px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.leftc {
    width: 280px;
    background-color: #fff;
    border-right: 1px solid #f3f3f3;
}
.rightc {
    flex: 1;
}
.alteracoes {
    padding: 10px 15px; 
}
.card {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    z-index: 0;
}

.card {
    border: 0px;
    box-shadow: 0px 0px 4px #e0e0e0!important;
    color: #000!important;
}
.alteracoes .content .meta {
    color: #000!important;
}
.ui.bottom.tabular.menu .active.item {
    background: #2185d0;
    color: rgba(255, 255, 255, 0.95);
    margin: -1px 0 0;
    border: 0px;
    border-radius: 0 0 .28571429rem .28571429rem!important;
    box-shadow: 0px 4px 5px rgba(204, 204, 204, 0.44)!important;
}

a.item.active {}
.ui.bottom.tabular.menu .item {
    background: 0 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top: none;
}   
.ui.bottom.tabular.menu {
    background: none;
    border-radius: 0;
    box-shadow: none!important;
    border-bottom: none;
    position: absolute;
    bottom: 18px;
    margin-left: 30px!important;
}
.attached.segment {
        background-color: #f3f3f3!important;
        overflow: hidden;
        overflow-y: auto;
        position: absolute!important;
        top: -2px!important;
        bottom: 60px!important;
        right: 0px!important;
        left: 281px;
        box-shadow: 5px 1px 5px rgba(204, 204, 204, 0.44)!important;
        border: 0px!important;
        border-radius: 0px!important;
        padding: 0px!important;
}

.edits {
        position: absolute;
        z-index: 100;
        background-color: #d4d4d4;
        height: 50px;
        top: -2px;
        left: 280px;
        right: 0px;
        overflow: auto;
}
.edits button {
    width: 50px;
    height: 50px;
    background-color: #d4d4d4!important;
    color: #575757!important;
}

.checked {
    opacity: 0.8;
    border: 2px solid #72cc76!important;
    background-color: #f6fff7!important;
}
.menu .item{
    cursor: pointer;
}