<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>SAP</title>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Demo project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/tools.css"/>
    <!-- libs -->
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" type="text/css" href="lib/semantic/semantic.min.css">
  </head>
  <body>
    <header>
      <div class="ui grid">
        <div class="three  wide column"><img src="img/city-logo.png" style="width:50px; margin:-10px;" alt="" /></div>
        <div class="twelve wide column">
          
        </div>
      </div>
      
    </header>
    <section class="dash-content">
      <div class="leftc alteracoes" ng-app="mainApp" ng-controller="mainController as mainCtrl">
        <div class="ui blue buttons">
          <div class="ui button"><div class="ui  green  empty circular label"></div>
          <span class="text">Versão 4 </span> </div>
          <div style="width:50px;" class="ui floating dropdown icon button">
            <i class="dropdown icon"></i>
            <div class="menu" style="width:160px;">
              <div class="item">
                
                <div class="content">
                  <div class="ui sub header">30/07/2016 14:26</div>
                  <div class="ui grey  empty circular label"></div> Versão 1.0
                </div>
              </div>
              <div class="item">
                
                <div class="content">
                  <div class="ui sub header">30/07/2016 14:26</div>
                  <div class="ui red  empty circular label"></div> Versão 1.0
                </div>
              </div>
              <div class="item">
                
                <div class="content">
                  <div class="ui sub header">30/07/2016 14:26</div>
                  <div class="ui grey  empty circular label"></div> Versão 1.0
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui cards ">
          <br>
          <div class="ui medium header" style="text-align:30px;">Alterações</div>
          <div ng-class="{'checked': list.check}" class="card" ng-repeat="list in mainCtrl.lists">
            <div ng-repeat="texto in list.text" class="content">
              <div  class="meta">
              {{texto}}
              </div>
            </div>
            <div ng-hide="list.done || list.check" class="extra content">
              <span ng-click="list.check=1" class="right floated like">
                <i class="check circle icon"></i>
              </span>
              <span ng-click="list.done=1" class="right floated star">
                <i class="reply icon"></i>
              </span>
            </div>
            <div ng-show="list.done" class="extra content">
              <form ng-submit="list.text.push(resposta[$index]) " class="ui action input">
                <input ng-model="resposta[$index]"  type="text" placeholder="Enviar resposta ">
                <button type="submit" class="ui blue icon button">
                <i class="edit icon"></i>
                </button>
              </form>
            </div>


          </div>
          
          <form name="mainForm" ng-submit="mainCtrl.add()" class="ui action input" style="width:100%; margin:15px;">
                <input ng-model="mainCtrl.new" type="text" placeholder="Enviar resposta ">
                <button type="submit" class="ui blue icon button">
                <i class="edit icon"></i>
                </button>
              </form>
        </div>
      </div>
      <div class="rightc">
        <div class="edits">
        <div class="blue icon ui buttons">
  <button onclick="createLine()" class="ui button"><i class="file icon"></i></button>
  <button class="ui button"><i class="save icon"></i></button>
  <button class="ui button"><i class="upload icon"></i></button>
  <button class="ui button"><i class="download icon"></i></button>
</div>
        

        </div>
        
        <div class="tabs">
          <div class="ui top attached tab segment active" data-tab="first">
            <canvas width="2000px" height="800px" id="canvas1"
            tabindex="0" style="cursor:auto;"></canvas>
          </div>
          <div class="ui top attached tab segment" data-tab="second">
            Second
          </div>
          <div class="ui top attached tab segment" data-tab="third">
            Third
          </div>
          <div class="ui top attached tab segment" data-tab="4">
            4
          </div>
          <div class="ui top attached tab segment" data-tab="5">
            5
          </div>
          
          <div class="ui bottom  attached tabular menu ">
            <a class="item active" data-tab="first">Página 1</a>
            <a class="item" data-tab="second">Página 2</a>
            <a class="item" data-tab="third">Página 3</a>
            <a class="item" data-tab="4">Página 4</a>
            <a class="item" data-tab="5">Página 5</a>
          </div>
        </div>
        
      </div>
    </section>
    <!-- Carregando -->


<div class="loading-page">
  <div class="counter">
    <p>Carregando...</p>
    <h1>0%
      <!--
      h1.abs loading
      h1.abs.color loading
      -->
    </h1>
    <hr/>
  </div>
</div>

  	<!-- libs -->
	<link rel="stylesheet" href="lib/angularjs/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


    
    <script src="js/jquery.js"></script>
    <script src="lib/angularjs/angular.min.js"></script>
    <script src="lib/semantic/semantic.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/angular.main.js"></script>
 
  </body>
</html>